body {
  background: url('/images/bg.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.left_button {

  top: 0;
  left: 0;
  margin-top: 375px;
  margin-left: 275px;

}

.button {
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  width: 300px;
  background-color: #403838;
  min-height: 50px;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(85, 85, 85, 0.5);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
  transform: translateX(3px);
}
