body {
  background: url('../images/b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 1000px) {
body {
		  background: url('../images/l.jpg') no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  background-size: cover;
		  -o-background-size: cover;
		  margin-top: 10vh;
		  margin-bottom: 10vh;
			margin-left: 12vw;
			margin-right: 12vw;
		}
}
